:root {
  --clr-btn-primary-bg: hsl(var(--clr-base-hue), 100%, 85%);
  --clr-btn-primary-bg-dark: hsl(var(--clr-base-hue), 100%, 65%);
  --clr-btn-primary-text: hsl(var(--clr-base-hue), 100%, 22%);
  --clr-btn-primary-text-dark: hsl(var(--clr-base-hue), 100%, 12%);
  --clr-btn-border: black;
  --clr-btn-danger-bg: hsl(var(--clr-danger-hue), 100%, 80%);
  --clr-btn-danger-bg-dark: hsl(var(--clr-danger-hue), 100%, 60%);
  --clr-btn-danger-text: black;
  --clr-btn-danger-text-dark: black;
}

.btn {
  border: 1px solid var(--clr-btn-border);
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  font-size: 1.2rem;
  font-family: "Gotham Rounded", sans-serif;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-primary {
  background-color: var(--clr-btn-primary-bg);
  color: var(--clr-btn-primary-text);
}

.btn-primary:hover {
  background-color: var(--clr-btn-primary-bg-dark);
  color: var(--clr-btn-primary-text-dark);
}

.btn-danger {
  background-color: var(--clr-btn-danger-bg);
  color: var(--clr-btn-danger-text);
}

.btn-danger:hover {
  background-color: var(--clr-btn-danger-bg-dark);
  color: var(--clr-btn-danger-text-dark);
}
