<div class="form-row">
  <div class="form-item">
    <label for="author-name">Name</label>
    <input
      id="author-name"
      type="text"
      name="name"
      value="<%= author.name %>"
      required
    />
  </div>
</div>
